<div class="aboutKino">
    <h1 >About Kino</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec fermentum
         magna, eu convallis turpis. Quisque porttitor leo non placerat hend
         rerit. Nunc viverra accumsan bibendum. Nullam a mauris a urna pos
         uere volutpat. Pellentesque habitant morbi tristique senectus et n
         etus et malesuada fames ac turpis egestas. Integer vitae elit finibus t
         urpis convallis placerat. Mauris malesuada sed lacus eu consequat. Nulla f
         acilisi. Aliquam eleifend feugiat ante, nec rhoncus risus vehicula sit amet
         . Mauris lacinia velit lectus, ut viverra turpis elementum sit amet. Sed u
         ltrices odio vestibulum venenatis suscipit. Aenean id efficitur sapien, vitae s
         emper dui. Nunc in leo quis ipsum consequat mollis. Cras urna nunc, tristique nec la
         cus in, convallis venenatis ex. Etiam volutpat urna a tortor ultrices, id egestas a
         rcu tincidunt.</p>
</div>