<div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": true }'>
        
      <div class="carousel-cell">
          <img src="/static/img/spiderman1.jpeg" alt="">
      </div>
      <div class="carousel-cell">
        <img src="/static/img/robot.jpg" alt="">

      </div>
      <div class="carousel-cell">
        <img src="/static/img/wolf.jpeg" alt="">

      </div>
      <div class="carousel-cell">
        <img src="/static/img/lionking.webp" alt="">

      </div>
      <div class="carousel-cell">
        <img src="/static/img/earth.jpg" alt="">
      </div>

    </div>