
    <div class="footer">
      
        <div class="footerLinks">
          <a href="/movies">All movies</a>
          <a href="/about">About us</a>
          <a href="/contact">Contact Kino</a>
  
        </div>
        <p class="adress">Kinovägen 1337</p>
     
      </div>