
    <div class="footer">
        <div class="footerLinks">
          <a href="about.handlebars">About us</a>
          <a href="contact.handlebars">Contact Kino</a>
          <a href="movies.handlebars">All movies</a>
        </div>
        <p class="adress">Kinovägen 1337</p>
     
      </div>