<div class="header">
      <h1 class="kino">The Kino</h1>

      <nav class="headerNav">
        <ul class="headerNavUl">
          <li><a href="/">Home</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/about">About Kino</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>

   
