<div class="header">
      <h1 class="kino">The Kino</h1>

      <nav class="headerNav">
        <ul class="headerNavUl">
          <li><a href="/kino/templates/partials/home.handlebars">Home</a></li>
          <li><a href="allMovies.handlebars">Movies</a></li>
          <li><a href="about.handlebars">About Kino</a></li>
          <li><a href="contact.handlebars">Contact</a></li>
        </ul>
      </nav>
    </div>


<div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": true }'>
        
      <div class="carousel-cell">
          <img src="/static/img/spiderman1.jpeg" alt="">
      </div>
      <div class="carousel-cell">
        <img src="/static/img/robot.jpg" alt="">

      </div>
      <div class="carousel-cell">
        <img src="/static/img/wolf.jpeg" alt="">

      </div>
      <div class="carousel-cell">
        <img src="/static/img/lionking.webp" alt="">

      </div>
      <div class="carousel-cell">
        <img src="/static/img/earth.jpg" alt="">
      </div>

    </div>
