
.content{
  background-color: #001416;
}

body {
    background-color: #001416;
  }
  .header {
    width: 100%;
    margin: 0 auto;
    height: auto;
  
  }
  .kino {
    font-size: 50px;
    font-family: "Roboto Slab", serif;
    background-color: rgb(0, 73, 79);
    color: white;
    padding: 20px;
    height: auto;
    margin: 0;

  }
  
  .headerNav {
    
    background-color: #986a4e;
    width: 100%;
    
  }
  .headerNavUl {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 20px;
  }
  
  .headerNavUl ul {
    align-items: center;
    text-align: center;
  }
  .headerNavUl li {
  }
  
  .headerNavUl a {
    font-size: 30px;
    font-family: "Neonderthaw", cursive;
    text-decoration: none;
    color: white;
    align-items: center;
  }
  
  .allMovies {
    font-size: 50px;
    font-family: "Roboto Slab", serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    


  
  .footer {
    margin-top: 100px;
    color: white;
  }
  
  .footerLinks {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
  }
  .footerLinks a,
  a:visited {
    margin: 0px 10px;
    color: white;
    list-style-type: none;
    text-decoration: none;
  
  }
  
  .adress {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      background-color: #001416;
      margin: 0;
    }
  
  .mv{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style-type: none;
    text-decoration: none;
    padding: 50px;
    height: 800px;
  }

  .mvLi a{
    
    font-size: 14px;
    list-style-type: none;
    text-decoration: none;
   
  }
  .mvImg{
  
    max-height: 250px;
    max-width: 200px;
  }
  
  .mvTitle{
    text-align: center;
    font-family: "Roboto Slab", serif;

    color: white;
  }

  .oneMovie{
    font-family: "Roboto Slab", serif;
    color: white;
    padding: 100px;
    height: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
  }

.oneMovie h1{ 
  text-align: center;
 

}

.intro{
  width: 500px;
  font-size: 15px;
  text-align: center;

}
  
.oneMovie img{
  

  height: 500px;
}


#carouselExampleIndicators{
  background-color: #001416;
}

.aboutKino{
  padding-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 800px;
  font-family: 'Roboto', sans-serif;
}

.aboutKino p{
  text-align: center;
  width: 800px;

}


.contactForm{
  color: white;
  height: 800px;
  padding: 50px;

}

.mb-3{
  width: 400px;

}

.error{
  display: flex;
  justify-content: center;
 color: beige;
 height: 800px;

 padding-top: 200px;
}

.wholeCar{
  padding-top:50px ;
  display: flex;
  justify-content: center;
 height: 800px;

}



.carousel-inner{
  max-width: 900px;
  max-height: 750px;
}

#carouselExampleIndicators{
  max-width: 600px;
}

.carousel-inner img{
width: 600px;
  
}
